
/**
 * Component: Checkbox
 */

[data-component="checkbox"] {
  position: relative;

  &::selection {
	  background: transparent;
  }

  input {
    position: absolute;
    top: 6px;
    left: 4px;
    font-size: 14px;
    margin: 0;

    &:checked ~ label {
      &:after {
        background: $light-red;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
      }
    }
  }

  label {
    position: relative;
    line-height: 25px;
    padding: 0 0 0 30px;
    font-weight: 800;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid $silver;
      border-radius: 4px;
      background: $white;
    }

    &:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 4px;
      width: 12px;
      height: 12px;
      background: $white;
      border-radius: 3px;
      -webkit-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      transform: scale(0, 0);
      box-shadow: $shadow-depth-0;
    }
  }
}
