
/**
 * Component: Notification
 */

[data-component="notification"] {
  position: relative;
  padding: 12px;
  margin: 12px 0;
  background-color: $soft-red;
  color: $white;
  border-radius: 4px;
  box-shadow: $shadow-depth-0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  overflow: hidden;

  &.wrapped {
    margin: 0;
  }

  .text {
    margin: 0 0 0 8px;
    pointer-events: none;
  }

  [data-component="icon"] {
    .icon {
      fill: $white;
      width: 32px;
      height: 32px;
    }
  }

  &[data-notification="info"] {
    @extend .fidelity-ui-info;

    [data-component="icon"] {
      .icon {
        fill: $dark-grey;
      }
    }
  }

  &[data-notification="success"] {
    @extend .fidelity-ui-success;
  }

  &[data-notification="warning"] {
    @extend .fidelity-ui-warning;

    [data-component="icon"] {
      .icon {
        fill: $dark-grey;
      }
    }
  }

  &[data-notification="error"] {
    @extend .fidelity-ui-error;
  }
}
