
/**
 * Component: Timeline
 */

$screen-md: 768px;
$screen-sm: 420px;

.component[data-component="timeline"] {
  background-color: $white;
  border-radius: 4px;
  box-shadow: $shadow-depth-0;
  padding: 20px;

  @media (max-width: $screen-md) {
    padding: 10px 15px;
  }

  [data-component="dropdown"] {
    z-index: 200;
    padding: 0 0 0 10px;

    .trigger.toggle-menu {
      background-color: $light-silver;
      padding: 8px 14px;
    }

    @media (max-width: $screen-sm) {
      .trigger.toggle-menu {
        padding: 5px 10px;
      }
    }
  }

  .component-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;

    @media (max-width: $screen-sm) {
      padding: 0 0 50px 0;
    }

    .title {
      color: $black;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .timeline-items {
    margin: 0;
    padding: 0 2px;
    list-style-type: none;
    overflow: auto;

    .timeline-item {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: $light-silver;
      padding: 10px 10px 10px 130px;
      margin: 0 0 40px 0;
      z-index: 150;
      border-radius: 4px;
      box-shadow: $shadow-depth-0;
      transition: all 0.15s ease-in-out;

      &.time-spacing-small {
        margin: 0 0 40px 0;
      }

      &.time-spacing-medium {
        margin: 0 0 80px 0;
      }

      &.time-spacing-large {
        margin: 0 0 120px 0;
      }

      @media (max-width: $screen-sm) {
        padding: 10px;
        margin: 0 0 60px 0;

        &.time-spacing-small {
          margin: 0 0 60px 0;
        }

        &.time-spacing-medium {
          margin: 0 0 100px 0;
        }

        &.time-spacing-large {
          margin: 0 0 140px 0;
        }
      }

      &:hover {
        box-shadow: $shadow-depth-1;
        transition: all 0.15s ease-in-out;

        .count-panel {
          opacity: 1;
          pointer-events: all;
          transition: all 0.15s ease-in-out;
        }
      }

      &:last-child {
        margin: 0 0 4px 0;
      }

      &.expanded {
        .grouped-item {
          &:not(:first-child) {
            display: block !important;
          }
        }
      }

      &.collapsed {
        .grouped-item {
          &:first-child {
            margin: 2px 0 5px 0;
          }
        }
      }

      .count-panel {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: 10px;
        top: 48px;
        background-color: $white;
        color: $dark-grey;
        box-shadow: $shadow-depth-0;
        padding: 1px 6px;
        font-size: 14px;
        border-radius: 4px;
        transition: all 0.15s ease-in-out;

        @media (max-width: $screen-sm) {
          opacity: 1;
          left: 110px;
          top: -38px;
          padding: 5px 6px;
          background-color: $silver;
        }
      }

      .after-bottom-separator {
        position: absolute;
        left: 138px;
        bottom: -120px;
        width: 10px;
        height: 120px;
        border-right: 2px dashed $soft-green;
        z-index: 10;

        @media (max-width: $screen-sm) {
          left: 21px;
        }
      }

      .bottom-separator {
        position: absolute;
        left: 146px;
        bottom: 0;
        width: 2px;
        height: calc(100% - 20px);
        border-right: 2px solid $light-green;
        z-index: 15;

        @media (max-width: $screen-sm) {
          left: 29px;
        }

        &:after {
          display: none;
          content: '';
          position: absolute;
          bottom: 0;
          left: -9px;
          width: 20px;
          height: 2px;
          background-color: $light-green;
          box-shadow: $shadow-depth-0;
        }
      }

      .timeline-item-date {
        position: absolute;
        top: 12px;
        left: 10px;
        width: 100px;
        background-color: $soft-green;
        color: $dark-grey;
        border-radius: 4px;
        box-shadow: $shadow-depth-0;
        font-size: 14px;
        padding: 5px;
        text-align: center;
        cursor: default;

        @media (max-width: $screen-sm) {
          top: -38px;
          left: 0;
        }
      }

      .trigger.toggle-grouped-items {
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 18px;
        z-index: 100;
        cursor: default;
        box-shadow: $shadow-depth-0;
        transition: all 0.15s ease-in-out;

        * {
          pointer-events: none;
        }

        .icon {
          width: 18px;
          height: 18px;
        }

        .icon.dot {
          display: flex;
          margin: 0;
          justify-content: center;
          align-items: center;
          width: auto;
          height: 26px;
          font-size: 22px;
        }

        &.multiple-items {
          position: relative;
          cursor: pointer;

          .icon-expand {
            opacity: 0;
            top: 9px;
            transition: all 0.15s ease-in-out;

            &.active {
              opacity: 1;
              transition: all 0.15s ease-in-out;
            }
          }

          .icon-expand,
          .icon-collapse {
            position: absolute;
            top: 9px;
            left: 0;
            right: 0;
            margin: 0 auto;
          }

          .icon-collapse {
            opacity: 0;
            top: 9px;
            transform: rotate(180deg);
            transition: all 0.15s ease-in-out;

            &.active {
              opacity: 1;
              transition: all 0.15s ease-in-out;
            }
          }

          &.expanded {
            .icon-expand {
              transform: rotate(180deg);
              transition: all 0.15s ease-in-out;
            }
          }

          &.collapsed {
            .grouped-item {
              &:not(:first-child) {
                opacity: 0;
                pointer-events: none;
                transition: all 0.15s ease-in-out;
              }
            }

            .icon-collapse {
              transform: rotate(-180deg);
              transition: all 0.15s ease-in-out;
            }
          }
        }
      }

      .grouped-items {
        padding: 0 0 0 20px;
        width: calc(100% - 45px);
        z-index: 150;
        list-style-type: none;

        @media (max-width: $screen-sm) {
          padding: 0 0 0 10px;
        }

        .grouped-item {
          margin: 2px 0 10px 0;
          background-color: $white;
          border-radius: 4px;
          box-shadow: $shadow-depth-0;
          padding: 5px 10px;

          &:not(:first-child) {
            display: none;
          }

          &:last-child:not(:first-child) {
            margin: 2px 0 4px 0;
          }

          .grouped-item-panel {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            z-index: 150;
            padding: 5px 0;

            .panel-header {
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }

            .panel-body {
              width: 100%;
              padding: 0 0 0 52px;
            }

            .avatar {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              box-shadow: $shadow-depth-0;
              margin: 5px 0 0 0;

              &.active {
                img {
                  opacity: 1;
                  transition: all 0.15s ease-in-out;
                }
              }

              img {
                opacity: 0;
                width: 100%;
                height: 100%;
                box-shadow: $shadow-depth-0;
                border-radius: 50%;
                transition: all 0.15s ease-in-out;
              }
            }

            .meta {
              width: 100%;
              max-width: calc(100% - 50px);
              padding: 0 0 0 10px;
              cursor: default;

              .author {
                font-size: 14px;
                font-weight: 600;
                color: $blue;
              }

              .note {
                font-size: 14px;
              }

              .date {
                font-size: 14px;

                .time {
                  font-weight: 600;
                }
              }
            }

            .item-comment {
              font-size: 14px;
              border-radius: 4px;

              &.has-content {
                padding: 4px 8px;
                margin: 4px 0;
                background-color: $soft-grey;
                box-shadow: $shadow-depth-0;
              }
            }
          }
        }
      }
    }
  }

  &[data-theme="horizontal"] {
    .timeline-items {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 0 20px 0;

      .timeline-item {
        margin: 0 40px 0 0;

        &.time-spacing-small {
          margin: 0 40px 0 0;
        }

        &.time-spacing-medium {
          margin: 0 80px 0 0;
        }

        &.time-spacing-large {
          margin: 0 120px 0 0;
        }
      }

      [data-component="panel"] {
        min-width: 240px;
      }

      .after-bottom-separator {
        position: absolute;
        left: 139px;
        top: 27px;
        width: 100%;
        height: 2px;
        border-bottom: 2px dashed $soft-green;
        z-index: 10;
      }

      .bottom-separator {
        position: absolute;
        left: 147px;
        top: 29px;
        width: calc(100% - 150px);
        height: 0;
        border-bottom: 2px solid $light-green;
        z-index: 15;

        @media (max-width: $screen-sm) {
          left: 29px;
        }

        &:after {
          display: none;
          content: '';
          position: absolute;
          bottom: 0;
          left: -9px;
          width: 20px;
          height: 2px;
          background-color: $light-green;
          box-shadow: $shadow-depth-0;
        }
      }
    }
  }
}
