.fidelity-ui-app .dropdown {
  --dropdown-body-size--auto: 100%;
  --dropdown-body-size--xs: 8rem;
  --dropdown-body-size--sm: 12rem;
  --dropdown-body-size--md: 16rem;
  --dropdown-body-size--lg: 20rem;
  --dropdown-body-size--xl: 24rem;
  --dropdown-body-min-width: 12rem;
  --dropdown-body-max-width: calc(100vw - var(--gutter) * 2);
  --dropdown-body-max-height: 40rem;
  --dropdown-body-shadow: var(--depth-4);
  --dropdown-body-border-radius: var(--border-radius);
  --dropdown-body-color-bg: var(--color-white);
  --dropdown-body-z-index: var(--z-index-20);
  --dropdown-body-padding: calc(var(--spacer) / 2) 0;
  --dropdown-body-scrollbar-width: 6px;
  --dropdown-body-scrollbar-thumb-border-radius: 10px;
  --dropdown-text-color: var(--color-gray-7);
  --dropdown-text-color-border: rgba(0, 0, 0, 0.1);
  --dropdown-text-padding: calc(var(--spacer) / 2) var(--spacer);
  --dropdown-item-color: var(--color-gray-10);
  --dropdown-item-color-bg-hover: rgba(0, 0, 0, 0.025);
  --dropdown-item-color-focus: var(--color-secondary);
  --dropdown-item-color-bg-focus: var(--color-white);
  --dropdown-item-padding: calc(var(--spacer) / 1.5) calc(var(--spacer) * 1.5) calc(var(--spacer) / 1.5) var(--spacer);

  position: relative;
  display: inline-block;
  max-width: 100%;

  &__body {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    min-width: var(--dropdown-body-min-width);
    max-width: var(--dropdown-body-max-width);
    max-height: var(--dropdown-body-max-height);
    padding: var(--dropdown-body-padding);
    z-index: var(--dropdown-body-z-index);
    box-shadow: var(--dropdown-body-shadow);
    border-radius: var(--dropdown-body-border-radius);
    background: var(--dropdown-body-color-bg);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: var(--dropdown-body-scrollbar-width);
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: var(--dropdown-body-scrollbar-thumb-border-radius);
      background-color: var(--color-body--border);
    }

    &--active {
      display: block;
    }

    &--size {
      &-auto {
        min-width: var(--dropdown-body-size--auto);
      }

      &-xs {
        min-width: var(--dropdown-body-size--xs);
      }

      &-sm {
        min-width: var(--dropdown-body-size--sm);
      }

      &-md {
        min-width: var(--dropdown-body-size--md);
      }

      &-lg {
        min-width: var(--dropdown-body-size--lg);
      }

      &-xl {
        min-width: var(--dropdown-body-size--xl);
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: var(--dropdown-item-padding);
    color: var(--dropdown-item-color);
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background: var(--dropdown-item-color-bg-hover);
    }

    &--active,
    &--active:hover,
    &:focus:active {
      background: var(--dropdown-item-color-focus);
      color: var(--dropdown-item-color-bg-focus);
    }

    &--active *,
    &--active:hover,
    &:focus:active * {
      color: var(--dropdown-item-color-bg-focus);
    }
  }

  &__text {
    display: block;
    padding: var(--dropdown-text-padding);
    color: var(--dropdown-text-color);
  }

  &__divider {
    pointer-events: none;
    border-top: 1px solid var(--dropdown-text-color-border);
    margin: calc(var(--spacer) / 2) 0;
  }
}
