.fidelity-ui-app .grid {
  .row {
    margin-right: calc(-1 * var(--grid-gutter--sm));
    margin-left: calc(-1 * var(--grid-gutter--sm));
    display: flex;
    flex-wrap: wrap;

    @media (--viewport-sm-min) {
      margin-right: calc(-1 * var(--grid-gutter));
      margin-left: calc(-1 * var(--grid-gutter));
    }
  }

  [class^="col-"],
  .col {
    padding-left: var(--grid-gutter--sm);
    padding-right: var(--grid-gutter--sm);
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 1px;

    @media (--viewport-sm-min) {
      padding-left: var(--grid-gutter);
      padding-right: var(--grid-gutter);
    }
  }

  /* columns */
  .col {
    width: auto;
    flex: 1 1 auto;

    &--1 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 1 / 12);
      max-width: calc(100% * 1 / 12);
    }

    &--2 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 2 / 12);
      max-width: calc(100% * 2 / 12);
    }

    &--3 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 3 / 12);
      max-width: calc(100% * 3 / 12);
    }

    &--4 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 4 / 12);
      max-width: calc(100% * 4 / 12);
    }

    &--5 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 5 / 12);
      max-width: calc(100% * 5 / 12);
    }

    &--6 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 6 / 12);
      max-width: calc(100% * 6 / 12);
    }

    &--7 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 7 / 12);
      max-width: calc(100% * 7 / 12);
    }

    &--8 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 8 / 12);
      max-width: calc(100% * 8 / 12);
    }

    &--9 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 9 / 12);
      max-width: calc(100% * 9 / 12);
    }

    &--10 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 10 / 12);
      max-width: calc(100% * 10 / 12);
    }

    &--11 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 11 / 12);
      max-width: calc(100% * 11 / 12);
    }

    &--12 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% * 12 / 12);
      max-width: calc(100% * 12 / 12);
    }

    @media (--viewport-sm-min) {
      &--sm-1 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 1 / 12);
        max-width: calc(100% * 1 / 12);
      }

      &--sm-2 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 2 / 12);
        max-width: calc(100% * 2 / 12);
      }

      &--sm-3 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 3 / 12);
        max-width: calc(100% * 3 / 12);
      }

      &--sm-4 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 4 / 12);
        max-width: calc(100% * 4 / 12);
      }

      &--sm-5 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 5 / 12);
        max-width: calc(100% * 5 / 12);
      }

      &--sm-6 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 6 / 12);
        max-width: calc(100% * 6 / 12);
      }

      &--sm-7 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 7 / 12);
        max-width: calc(100% * 7 / 12);
      }

      &--sm-8 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 8 / 12);
        max-width: calc(100% * 8 / 12);
      }

      &--sm-9 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 9 / 12);
        max-width: calc(100% * 9 / 12);
      }

      &--sm-10 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 10 / 12);
        max-width: calc(100% * 10 / 12);
      }

      &--sm-11 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 11 / 12);
        max-width: calc(100% * 11 / 12);
      }

      &--sm-12 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 12 / 12);
        max-width: calc(100% * 12 / 12);
      }
    }

    @media (--viewport-md-min) {
      &--md-1 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 1 / 12);
        max-width: calc(100% * 1 / 12);
      }

      &--md-2 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 2 / 12);
        max-width: calc(100% * 2 / 12);
      }

      &--md-3 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 3 / 12);
        max-width: calc(100% * 3 / 12);
      }

      &--md-4 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 4 / 12);
        max-width: calc(100% * 4 / 12);
      }

      &--md-5 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 5 / 12);
        max-width: calc(100% * 5 / 12);
      }

      &--md-6 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 6 / 12);
        max-width: calc(100% * 6 / 12);
      }

      &--md-7 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 7 / 12);
        max-width: calc(100% * 7 / 12);
      }

      &--md-8 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 8 / 12);
        max-width: calc(100% * 8 / 12);
      }

      &--md-9 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 9 / 12);
        max-width: calc(100% * 9 / 12);
      }

      &--md-10 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 10 / 12);
        max-width: calc(100% * 10 / 12);
      }

      &--md-11 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 11 / 12);
        max-width: calc(100% * 11 / 12);
      }

      &--md-12 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 12 / 12);
        max-width: calc(100% * 12 / 12);
      }
    }

    @media (--viewport-lg-min) {
      &--lg-1 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 1 / 12);
        max-width: calc(100% * 1 / 12);
      }

      &--lg-2 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 2 / 12);
        max-width: calc(100% * 2 / 12);
      }

      &--lg-3 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 3 / 12);
        max-width: calc(100% * 3 / 12);
      }

      &--lg-4 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 4 / 12);
        max-width: calc(100% * 4 / 12);
      }

      &--lg-5 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 5 / 12);
        max-width: calc(100% * 5 / 12);
      }

      &--lg-6 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 6 / 12);
        max-width: calc(100% * 6 / 12);
      }

      &--lg-7 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 7 / 12);
        max-width: calc(100% * 7 / 12);
      }

      &--lg-8 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 8 / 12);
        max-width: calc(100% * 8 / 12);
      }

      &--lg-9 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 9 / 12);
        max-width: calc(100% * 9 / 12);
      }

      &--lg-10 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 10 / 12);
        max-width: calc(100% * 10 / 12);
      }

      &--lg-11 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 11 / 12);
        max-width: calc(100% * 11 / 12);
      }

      &--lg-12 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 12 / 12);
        max-width: calc(100% * 12 / 12);
      }
    }

    @media (--viewport-xl-min) {
      &--xl-1 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 1 / 12);
        max-width: calc(100% * 1 / 12);
      }

      &--xl-2 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 2 / 12);
        max-width: calc(100% * 2 / 12);
      }

      &--xl-3 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 3 / 12);
        max-width: calc(100% * 3 / 12);
      }

      &--xl-4 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 4 / 12);
        max-width: calc(100% * 4 / 12);
      }

      &--xl-5 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 5 / 12);
        max-width: calc(100% * 5 / 12);
      }

      &--xl-6 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 6 / 12);
        max-width: calc(100% * 6 / 12);
      }

      &--xl-7 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 7 / 12);
        max-width: calc(100% * 7 / 12);
      }

      &--xl-8 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 8 / 12);
        max-width: calc(100% * 8 / 12);
      }

      &--xl-9 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 9 / 12);
        max-width: calc(100% * 9 / 12);
      }

      &--xl-10 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 10 / 12);
        max-width: calc(100% * 10 / 12);
      }

      &--xl-11 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 11 / 12);
        max-width: calc(100% * 11 / 12);
      }

      &--xl-12 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% * 12 / 12);
        max-width: calc(100% * 12 / 12);
      }
    }
  }

  /* order */
  .order {
    &--1 {
      order: 1;
    }

    &--2 {
      order: 2;
    }

    &--3 {
      order: 3;
    }

    &--4 {
      order: 4;
    }

    &--5 {
      order: 5;
    }

    &--6 {
      order: 6;
    }

    &--7 {
      order: 7;
    }

    &--8 {
      order: 8;
    }

    &--9 {
      order: 9;
    }

    &--10 {
      order: 10;
    }

    &--11 {
      order: 11;
    }

    &--0 {
      order: 0;
    }

    @media (--viewport-sm-min) {
      &--sm-1 {
        order: 1;
      }

      &--sm-2 {
        order: 2;
      }

      &--sm-3 {
        order: 3;
      }

      &--sm-4 {
        order: 4;
      }

      &--sm-5 {
        order: 5;
      }

      &--sm-6 {
        order: 6;
      }

      &--sm-7 {
        order: 7;
      }

      &--sm-8 {
        order: 8;
      }

      &--sm-9 {
        order: 9;
      }

      &--sm-10 {
        order: 10;
      }

      &--sm-11 {
        order: 11;
      }

      &--sm-0 {
        order: 0;
      }
    }

    @media (--viewport-md-min) {
      &--md-1 {
        order: 1;
      }

      &--md-2 {
        order: 2;
      }

      &--md-3 {
        order: 3;
      }

      &--md-4 {
        order: 4;
      }

      &--md-5 {
        order: 5;
      }

      &--md-6 {
        order: 6;
      }

      &--md-7 {
        order: 7;
      }

      &--md-8 {
        order: 8;
      }

      &--md-9 {
        order: 9;
      }

      &--md-10 {
        order: 10;
      }

      &--md-11 {
        order: 11;
      }

      &--md-0 {
        order: 0;
      }
    }

    @media (--viewport-lg-min) {
      &--lg-1 {
        order: 1;
      }

      &--lg-2 {
        order: 2;
      }

      &--lg-3 {
        order: 3;
      }

      &--lg-4 {
        order: 4;
      }

      &--lg-5 {
        order: 5;
      }

      &--lg-6 {
        order: 6;
      }

      &--lg-7 {
        order: 7;
      }

      &--lg-8 {
        order: 8;
      }

      &--lg-9 {
        order: 9;
      }

      &--lg-10 {
        order: 10;
      }

      &--lg-11 {
        order: 11;
      }

      &--lg-0 {
        order: 0;
      }
    }

    @media (--viewport-xl-min) {
      &--xl-1 {
        order: 1;
      }

      &--xl-2 {
        order: 2;
      }

      &--xl-3 {
        order: 3;
      }

      &--xl-4 {
        order: 4;
      }

      &--xl-5 {
        order: 5;
      }

      &--xl-6 {
        order: 6;
      }

      &--xl-7 {
        order: 7;
      }

      &--xl-8 {
        order: 8;
      }

      &--xl-9 {
        order: 9;
      }

      &--xl-10 {
        order: 10;
      }

      &--xl-11 {
        order: 11;
      }

      &--xl-0 {
        order: 0;
      }
    }
  }
}
