.fidelity-ui-app .modal {
  --modal-color: var(--card-color);
  --modal-color-dark: var(--card-color--dark);
  --modal-color-light: var(--card-color--light);
  --modal-color-z-index: var(--z-index-100);
  --modal-color-border: var(--card-color-border);
  --modal-padding: var(--card-padding);
  --modal-padding-lg: var(--card-padding--lg);
  --modal-content-size-auto: calc(100% - var(--grid-gutter) * 2);
  --modal-content-size-xs: 20rem;
  --modal-content-size-sm: 30rem;
  --modal-content-size-md: 40rem;
  --modal-content-size-lg: 50rem;
  --modal-content-size-xl: 60rem;
  --modal-content-margin: var(--grid-gutter);
  --modal-content-background: var(--card-color-bg);
  --modal-content-transform: translateY(50px);
  --modal-content-border-radius: var(--card-border-radius);
  --modal-backdrop-background: var(--backdrop-color-bg);
  --modal-header-padding: var(--modal-padding);
  --modal-header-padding-lg: var(--card-padding--lg);
  --modal-header-z-index: var(--z-index-30);
  --modal-body-padding: var(--modal-padding);
  --modal-body-padding-lg: var(--card-padding--lg);
  --modal-body-webkit-scrollbar-width: 6px;
  --modal-body-webkit-scrollbar-background-color: transparent;
  --modal-body-webkit-scrollbar-thumb-border-radius: 10px;
  --modal-body-webkit-scrollbar-thumb-background-color: var(--modal-color-border);
  --modal-footer-padding: var(--modal-padding);
  --modal-footer-padding-lg: var(--card-padding--lg);

  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  color: var(--modal-color);
  z-index: var(--modal-color-z-index);
  pointer-events: none;
  overflow: hidden;

  &__backdrop {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--modal-backdrop-background);
  }

  &__content {
    display: flex;
    min-height: 0;
    flex-direction: column;
    justify-content: flex-start;
    margin: var(--modal-content-margin);
    background: var(--modal-content-background);
    border-radius: var(--modal-content-border-radius);

    &--size {
      &-auto {
        max-width: var(--modal-content-size-auto);
      }

      &-xs {
        width: var(--modal-content-size-xs);
      }

      &-sm {
        width: var(--modal-content-size-sm);
      }

      &-md {
        width: var(--modal-content-size-md);
      }

      &-lg {
        width: var(--modal-content-size-lg);
      }

      &-xl {
        width: var(--modal-content-size-xl);
      }

      &-fullscreen {
        min-width: 100%;
        max-width: none;
        min-height: 100%;
        margin: 0;
      }
    }
  }

  &__header {
    position: sticky;
    top: 0;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--modal-header-padding);
    z-index: var(--modal-header-z-index);

    @media (--viewport-md-min) {
      padding: var(--modal-header-padding-lg);
    }
  }

  &__body {
    min-height: auto;
    flex: 0 1 auto;
    overflow: auto;
    padding: var(--modal-body-padding);
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: var(--modal-body-webkit-scrollbar-width);
      background-color: var(--modal-body-webkit-scrollbar-background-color);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: var(--modal-body-webkit-scrollbar-thumb-border-radius);
      background-color: var(--modal-body-webkit-scrollbar-thumb-background-color);
    }

    @media (--viewport-md-min) {
      padding: var(--modal-body-padding-lg);
    }
  }

  &__footer {
    position: sticky;
    bottom: 0;
    flex: 0 0 auto;
    padding: var(--modal-footer-padding);

    @media (--viewport-md-min) {
      padding: var(--modal-footer-padding-lg);
    }
  }

  &--active {
    right: 0;
    bottom: 0;
    pointer-events: auto;
    height: auto;

    & > .modal__backdrop {
      opacity: 1;
    }
  }
}
