.fidelity-ui-app .tag {
  --tag-color: var(--color-white);
  --tag-color-bg: var(--color-info);
  --tag-border-radius: 3rem;

  font-size: var(--font-size--sm);
  border-radius: var(--tag-border-radius);
  color: var(--tag-color);
  background: var(--tag-color-bg);
  padding: 0.1em 0.8em;
  display: inline-flex;
  align-items: center;

  a,
  button {
    text-decoration: none;
  }

  &__remove {
    font-weight: var(--font-weight--bold);
    margin-left: calc(var(--spacer) / 2);
    opacity: 0.5;
    font-size: var(--font-size--lg);
    line-height: 1;
    background: var(--tag-color);
    color: var(--tag-color-bg);
    border-radius: var(--border-radius--round);
    width: 1em;
    height: 1em;
    text-align: center;
    margin-right: -0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &--sm {
    padding: 0.1em 0.8em;
    font-size: var(--font-size--sm);
  }

  &--md {
    padding: 0.325em 1.2em;
    font-size: var(--font-size);
  }

  &--lg {
    padding: 0.5em 1.5em;
    font-size: var(--font-size--lg);

    > .tag__remove {
      width: 1.25em;
      height: 1.25em;
    }
  }
}
