
/**
 * Base styles
 */

.fidelity-ui-flat-to-material {
  box-shadow: $shadow-depth-0;
  transition: all 0.15s ease-in-out;

  &:hover {
    box-shadow: $shadow-depth-1;
    transition: all 0.15s ease-in-out;
  }
}

.fidelity-ui-material-to-flat {
  box-shadow: $shadow-depth-1;
  transition: all 0.15s ease-in-out;

  &:hover {
    box-shadow: $shadow-depth-0;
    transition: all 0.15s ease-in-out;
  }
}

.fidelity-ui-info {
  background-color: $light-blue;
  color: $dark-grey;
}

.fidelity-ui-success {
  background-color: $light-green;
  color: $white;

  .icon {
    fill: $white;
  }
}

.fidelity-ui-warning {
  background-color: $soft-yellow;
  color: $dark-grey;
}

.fidelity-ui-error {
  background-color: $light-red;
  color: $white;

  .icon {
    fill: $white;
  }
}

.fidelity-ui-trigger {
  background-color: $light-grey;
  color: $dark-grey;
  padding: 8px 24px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px dashed transparent;
  @extend .fidelity-ui-flat-to-material;

  * {
    pointer-events: none;
  }

  &:active {
    opacity: 0.85;
    transition: all 0.15s ease-in-out;
  }

  &:focus {
    border: 1px dashed $grey;
    transition: all 0.15s ease-in-out;
  }

  &:disabled {
    opacity: 0.75;
    box-shadow: none;
    pointer-events: none;
  }
}

.fidelity-ui-trigger-large {
  @extend .fidelity-ui-trigger;
  padding: 12px 32px;
  text-transform: uppercase;
  font-weight: 300;
}

.fidelity-ui-link {
  text-decoration: none;
  transition: all 0.15s ease-in-out;

  &:hover {
    color: $light-red;
    transition: all 0.15s ease-in-out;
  }
}
