
/**
 * Global encapsulated styles
 */

body {
  &.fidelity-ui-test-body {
    padding: 0;
    margin: 0;
    background-color: $silver;
    font-family: 'Open Sans', sans-serif;

    h1, h2, h3, h4, h5, h6, p {
      margin: 0 0 10px 0;
    }

    [data-component="fidelity-ui-test-app"] {
      padding: 20px;

      > .demo-box {
        margin: 0 0 40px 0;

        .title {
          display: block;
          font-size: 22px;
        }

        .demo {
          padding: 10px 0 0 0;
        }

        .actions {
          padding: 10px 0 0 0;

          .trigger {
            @extend .fidelity-ui-trigger;
            @extend .fidelity-ui-material-to-flat;
            margin: 0 10px 0 0;

            &.toggle-info-alert {
              @extend .fidelity-ui-info;
            }
            &.toggle-success-alert {
              @extend .fidelity-ui-success;
            }
            &.toggle-warning-alert {
              @extend .fidelity-ui-warning;
            }
            &.toggle-error-alert {
              @extend .fidelity-ui-error;
            }
          }
        }

        &[data-demo="accordion"] {
          width: 520px;
        }

        &[data-demo="breadcrumbs"] {
          margin: 0 0 30px 0;

          .demo {
            padding: 0;
          }
        }

        &[data-demo="dropdown"] {
          width: 520px;
        }

        &[data-demo="icon"] {
          margin: 0 0 30px 0;

          .demo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            [data-component="icon"] {
              background-color: $white;
              padding: 10px 20px;
              margin: 0 20px 20px 0;
              border-radius: 4px;
              box-shadow: $shadow-depth-0;
            }
          }
        }

        &[data-demo="notification"] {
          .demo {
            padding: 0;
          }
        }
      }

      .notification {
        width: 640px;
        max-width: 100%;
      }

      .dropdown {
        width: 440px;
        max-width: 100%;
      }

      .checkbox {
        display: block;
        margin: 20px 0 0 0;
      }

      .timeline {
        margin: 20px 0 0 0;
        min-height: 420px;
        overflow-y: auto;
      }

      button {
        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
}
