/**
 * Component: Stat
 */

[data-component="stat"] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;

  [data-component="icon"] {
    margin: 0 4px 0 0;
    pointer-events: none;

    .icon {
      fill: $dark-grey;
    }
  }

  .count {
    font-weight: 700;
    pointer-events: none;
    color: $dark-grey;
  }
}
