
/**
 * Component: Breadcrumbs
 */

[data-component="breadcrumbs"] {
  position: relative;

  .component-items {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .component-item {
      position: relative;
      display: inline-block;
      padding: 10px;

      &.active {
        .name {
          font-weight: 600;
          color: $light-red;
        }
        &:before {
          @media (max-width: $screen-md) {
            background-color: $light-red;
          }
        }
      }

      &:first-child {
        padding: 10px 10px 10px 0;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:hover {
        .name {
          color: $light-red;
          transition: all 0.15s ease-in-out;
        }
      }

      a {
        @extend .fidelity-ui-link;
      }

      .name {
        font-size: 14px;
        color: $black;
        transition: all 0.15s ease-in-out;

        @media (max-width: $screen-md) {
          font-size: 13px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 35%;
        right: 0;
        height: 30%;
        width: 1px;
        background-color: $grey;
        transform: rotate(15deg);
      }
    }
  }

  &.mobile-toggle {
    .component-items {
      .component-item {
        @media (max-width: $screen-md) {
          display: none;
        }
      }
    }
    .trigger.toggle-breadcrumbs {
      @media (max-width: $screen-md) {
        display: block;
      }
    }
  }

  &.stacked {
    &.mobile-toggle {
      .component-items {
        .component-item {
          @media (max-width: $screen-md) {
            display: none;
          }
        }
      }
    }

    .component-items {
      @media (max-width: $screen-md) {
        flex-direction: column;
        align-items: flex-start;
      }

      .component-item {
        display: block;

        @media (max-width: $screen-md) {
          padding: 10px 10px 0 15px;
          border-left: 1px solid $dark-silver;
        }

        &:after {
          @media (max-width: $screen-md) {
            top: 13px;
            left: -8px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $white;
            transform: rotate(15deg);
            z-index: 10;
          }
        }

        &:before {
          @media (max-width: $screen-md) {
            content: '';
            position: absolute;
            top: 17px;
            left: -4px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $black;
            transform: rotate(15deg);
            z-index: 20;
          }
        }

        &.active {
          &:before {
            @media (max-width: $screen-md) {
              background-color: $light-red;
            }
          }
        }

        &:first-child {
          @media (max-width: $screen-md) {
            padding: 10px 10px 0 15px;
          }

          &:before {
            @media (max-width: $screen-md) {
              top: 16px;
            }
          }

          &:after {
            @media (max-width: $screen-md) {
              top: 12px;
            }
          }
        }

        &:last-child {
          @media (max-width: $screen-md) {
            padding: 10px 10px 10px 15px;
          }

          &:after {
            @media (max-width: $screen-md) {
              display: block;
              top: 13px;
            }
          }

          &:before {
            @media (max-width: $screen-md) {
              top: 17px;
            }
          }
        }
      }
    }
  }

  &.mobile-active {
    @media (max-width: $screen-md) {
      .component-items {
        z-index: 999;
        position: absolute;
        top: 34px;
        left: 0;
        margin: 10px 0 0 0;
        background-color: white;
        width: calc(100% - 15px);
        height: auto;
        padding: 0 0 0 15px;
        box-shadow: $shadow-depth-0;

        .component-item {
          display: block !important;
        }
      }
    }

    @media (max-width: $screen-xs) {
      .component-items {
        top: 33px;
      }
    }

    .trigger.toggle-breadcrumbs {
      background-color: $light-red;

      [data-component="icon"] {
        .icon {
          transform: rotate(-90deg);
          transition: all 0.15s ease-in-out;
          transform-origin: 50% 45%;
        }
      }
    }
  }

  .trigger.toggle-breadcrumbs {
    @extend .fidelity-ui-trigger;
    display: none;
    background-color: $dark-silver;

    @media (max-width: $screen-xs) {
      border-radius: 0;
      box-shadow: none;
      padding: 10px 14px;
    }

    @media (max-width: $screen-xxs) {
      padding: 10px;
    }

    &:active {
      box-shadow: $shadow-depth-2;
      transition: all 0.15s ease-in-out;
    }

    [data-component="icon"] {
      display: inline-block;

      .icon {
        transform: rotate(90deg);
        fill: $white;
        width: 18px;
        height: 18px;
        transition: all 0.15s ease-in-out;
        transform-origin: 50% 50%;
      }
    }
  }
}
